__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
tests/*.mp4
tests/*.wav
tests/*.m4a
tests/*.aac
tests/*.ogg
tests/*.flac
tests/*.mp3
*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*
*.log.*.*.*.*.*.*
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
venv